# Ignore environment variables file
.env

# Ignore Google OAuth token file
token.json

# Ignore Python virtual environment
.venv/

# Ignore macOS specific files
.DS_Store
AnyAgent_OAuth_1.json
video_analyzer/token.json
credentials/
AnyAI_UI_Master/

# Ignore build artifacts and distribution files
build/
dist/
*.dmg

# Ignore Python cache
__pycache__/
*.pyc