flask
python-dotenv
gspread
google-auth
google-auth-oauthlib
google-api-python-client
google-generativeai
tenacity
pywebview
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-WebKit
pyinstaller-hooks-contrib
pyinstaller
waitress
requests
